enableLogging: true
logLevel: None

# Forwarders - External DNS for non-local queries
forwarders:
  - name: Cloudflare
    forwarder: 1.1.1.1
  - name: Cloudflare Secondary
    forwarder: 1.0.0.1
  - name: Google
    forwarder: 8.8.8.8
  - name: Google Secondary
    forwarder: 8.8.4.4
    
# Use forwarders for external queries
useNxDomainForBlocking: false
blocking: false
cache:
  maximumEntries: 10000
  serveStaleTtl: 259200
  
# Recursion settings
recursion: AllowOnlyForPrivateNetworks
forwarderRetries: 3
forwarderTimeout: 2000
forwarderConcurrency: 2
